@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Roboto, source-code-pro, Menlo, Monaco, Consolas, monospace;
}

th {
  text-align: left;
  font-weight: 600;
  font-size: 18px;
  padding: 10px;
  line-height: 24px;
}

td {
  font-weight: 400;
  font-size: 16px;
  padding: 20px;
}

#sale-table > thead > tr > th {
  border-bottom: 1px solid #888888;
  background-color: #ffffff;
  line-height: 60px;
}

#sale-table > tbody > tr > td {
  border-bottom: 1px solid #888888;
}

table#sale-details-table > tbody > tr:last-child > td {
  font-weight: 600;
  font-size: 18px;
}
